<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<!--/*@thymesVar id="book" type="kz.web.library.models.Book"*/-->
<form th:method="patch" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="title">Введите название:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Неверное имя</div>
    <br/>
    <label for="author">Введите автора:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Неверное имя</div>
    <br/>
    <label for="year">Год выпуска:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Неверный год</div>
    <br/>
    <button type="submit">Добавить</button>
</form>
<a th:href="@{/books}">Назад</a>

</body>
</html>